.submenu .focused{
    color: antiquewhite;
}

.contents{
    display: flex;
    background-color: white;
    background-image: radial-gradient(grey 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.projects{
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.details{
    border: 2px solid black;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}
.description{
    text-align: center;
    width: auto;
    height: 100%;
    border: 2px solid black;
    margin-right: 10px;
    padding: 20px;
}
.description:hover{
    background-color: #9cc3f8;
}
.description>p{
    margin: 5px;
    padding: 2px;
}
.description>p:nth-child(2){
    font-weight: 800;
}
.timeDetail{
    font-size: small;
}


.stackList{
    display: flex;
    align-items: center;
}
.stackList > div{
    margin: 5px;
}
.functions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.function{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 30%;
    /* margin: 10px; */
    margin-top: 10px;
    padding: 20px;
}
.previewImg{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}


